@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.teclado{
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(6, 3em);
    grid-gap: 7px;
    grid-auto-rows: minmax(3em, auto)
}

.teclado> button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px outset rgb(70, 69, 69);
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: grey;
    color:rgba(255, 255, 255, 0.808);
    font-size: 21px;
    box-shadow: 2px 2px rgb(90, 90, 90);
    cursor:pointer;
}

.teclado > button:active{
    background-color: rgb(90, 90, 90);
    box-shadow: 1px 1px rgb(90, 90, 90);
    transform: translate(1px, 1px)
}

#igual{
    grid-column: 6;
    grid-row: 5/7;
    background-color: orangered;
    box-shadow: 2px 2px rgba(255, 68, 0, 0.829);
}
#igual:active{
    background-color: rgba(255, 68, 0, 0.829);
    box-shadow: 1px 1px rgba(255, 68, 0, 0.829);
    transform: translate(1px, 1px);
}

#pantalla {
    display: flex;
    width: 19.5em;
    height: 2.5em;
    border: 3px inset rgb(186, 196, 170) ;
    align-items: center;
    justify-content: right;
    padding-right: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    background-color: rgb(186, 196, 170);
    border-radius: 10px;
    cursor: default;
}

.calculadora{
    margin-top: 2em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 20em;
    justify-content: center;
    border: 2px solid black;
    padding: 1em;
    border-radius: 20px;
    background-color:rgb(32, 32, 32);
    box-shadow: 0.5px 0.5px 0px  rgba(255, 230, 3, 0.979),
                1px 1px 0px rgba(255, 230, 3, 0.979),
                2px 2px 0px rgba(255, 230, 3, 0.979),
                3px 3px 0px rgba(255, 230, 3, 0.979),
                4px 4px 0px orange,
                5px 5px 0px orange,
                6px 6px 0px orangered,
                7px 7px 0px orangered,
                8px 8px 0px orangered,
                9px 9px 0px #999,
                10px 10px 0px #999;
}